/** News ticker **/

#newsTicker {
  position:relative;
  height:1em;
  line-height:1em;
}
#newsTicker.render .ticker-list {
  margin:0;
  padding:0;
  list-style:none;
}
#newsTicker.render .item {
  position:absolute;
  top:0;
  left:0;
  display:none;
  height:1em;
  line-height:1em;
}